{% extends "../base.html" %}
{% load static %}

{% block title %}Products{% endblock %}

{% block content %}
    <header class="header">
        <div class="container">
            <div class="row">
                <div class="navbar">

                    <img class="logo" src="{% static 'img/007.png' %}" alt="logo">

                    <ul class="menu">
                        <li>
                            <a href="">
                                Торти
                            </a>
                        </li>
                        <li>
                            <a href="">
                                Чизкейки
                            </a>
                        </li>
                        <li>
                            <a href="">
                                Маршмелоу
                            </a>
                        </li>
                        <li>
                            <a href="">
                                Капкейки
                            </a>
                        </li>
                        <li>
                            <a href="">
                                Про нас 
                            </a>
                        </li>
                    </ul>

                    <input id="button" type="button" value="Кошик">
                    
                </div>
            </div>
        </div>
    </header>

    <section>
        <div class="container">
            <div class="row">
                <div id="banner" class="col">
                    
                </div>
            </div>
        </div>

        <div class="container">
            <div id="cardAreaSmall" class="row">

                <div class="col-md-12">
                    <h1>
                        Новинки та популярне
                    </h1>
                </div>


                {% for popular in product_sort %}
                    <div id="card" class="col-md-3">
                        <div class="img">
                            <img src="{{ popular.image.url }}" alt="image">
                        </div>

                        <div class="text">

                            <h3>
                                {{ popular.title }}
                            </h3>

                            <h3>
                                {{ popular.price }}₴
                            </h3>

                        </div>
                    </div>
                {% endfor %}

                
            </div>
        </div>

                    <div class="container">
                        <div id="cardAreaBig" class="row">
                            <div class="col-md-12">
                                <h1>
                                    Торти
                                </h1>
                            </div>
                            {% for item in product %}
                                {% if item.category == "Торт" %}
                                    <div class="col-md-3">
                                        <div class="img">
                                            <img src="{{ item.image.url }}" alt="">
                                            <h3>
                                                {{ item.title }}
                                            </h3>
                                            <p>
                                                {{ item.description }}
                                            </p>
                                        </div>

                                        <div class="text">
                                            <h4>
                                                {{ item.price }}$
                                            </h4>

                                            <input id="button1" type="button" value="Выбрать">
                                        </div>
                                    </div>
                                {% endif %}  
                            {% endfor %}   
                        </div>
                    </div>

                    <div class="container">
                        <div id="cardAreaBig" class="row">
                            <div class="col-md-12">
                                <h1>
                                    Чизкейки
                                </h1>
                            </div>
                            {% for item in product %}
                                {% if item.category == "Чизкейк" %}
                                    <div class="col-md-3">
                                        <div class="img">
                                            <img src="{{ item.image.url }}" alt="">
                                            <h3>
                                                {{ item.title }}
                                            </h3>
                                            <p>
                                                {{ item.description }}
                                            </p>
                                        </div>
            
                                        <div class="text">
                                            <h4>
                                                {{ item.price }}$
                                            </h4>
            
                                            <input id="button1" type="button" value="Выбрать">
                                        </div>
                                    </div>
                                {% endif %}  
                            {% endfor %} 
                        </div>
                    </div>

                    <div class="container">
                        <div id="cardAreaBig" class="row">
                            <div class="col-md-12">
                                <h1>
                                    Маршмеллоу
                                </h1>
                            </div>
                            {% for item in product %}
                                {% if item.category == "Маршмеллоу" %}
                                    <div class="col-md-3">
                                        <div class="img">
                                            <img src="{{ item.image.url }}" alt="">
                                            <h3>
                                                {{ item.title }}
                                            </h3>
                                            <p>
                                                {{ item.description }}
                                            </p>
                                        </div>

                                        <div class="text">
                                            <h4>
                                                {{ item.price }}$
                                            </h4>

                                            <input id="button1" type="button" value="Выбрать">
                                        </div>
                                    </div>
                                {% endif %}  
                            {% endfor %} 
                        </div>
                    </div>
                
                    <div class="container">
                        <div id="cardAreaBig" class="row">
                            <div class="col-md-12">
                                <h1>
                                    Капкейки
                                </h1>
                            </div>
                            {% for item in product %}
                                {% if item.category == "Капкейки" %}
                                    <div class="col-md-3">
                                        <div class="img">
                                            <img src="{{ item.image.url }}" alt="">
                                            <h3>
                                                {{ item.title }}
                                            </h3>
                                            <p>
                                                {{ item.description }}
                                            </p>
                                        </div>
            
                                        <div class="text">
                                            <h4>
                                                {{ item.price }}$
                                            </h4>
                                            <input id="button1" type="button" value="Выбрать">
                                        </div>
                                    </div>
                                {% endif %}  
                            {% endfor %} 
                        </div>
                    </div>
        
    

    </section>

{% endblock %}