<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="txt">
                    <p>© 2021 Солодке життя</p>
                </div>

                <div class="link">
                    <a href="https://instagram.com/ksenia_tort?utm_medium=copy_link"><img src="../shop/templates/mainpage/img/instagram%20(1).png" alt=""></a>
                    <a href=""><img src="../shop/templates/mainpage/img/facebook%20(1).png" alt=""></a>
                </div>
            </div>
        </div>
    </div>
</footer>