{% load static %}
<header>
    <div class="container">
        <div class="row">
            <nav class="navbar">
                <!-- logo -->
                <div id="logo" class="col-3">
                    <div class="">
                        <img class="logo" src="{% static 'assets/logo.png' %}" alt="logo">
                    </div>
                </div>
                <!-- Main menu -->
                <div class="col-md-6">
                    <ul class="menu">
                        <li>
                            <a href="">
                                Торти
                            </a>
                        </li>
                        <li>
                            <a href="">
                                Чизкейки
                            </a>
                        </li>
                        <li>
                            <a href="">
                                Маршмелоу
                            </a>
                        </li>
                        <li>
                            <a href="">
                                Капкейки
                            </a>
                        </li>
                        <li>
                            <a href="">
                                Про нас
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- busket button  -->
                <div id="login_bacet" class="col-3">
                    <div class="bacet">
                        <img src="{% static "assets/shopping-basket.png" %}" alt="">
                        <div class="line"></div>
                        <a>2</a>
                    </div>
                </div>
                <!-- burger button  -->
                <div id="burger_menu_col" class="col-3">
                    <div class="burger_menu">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>

            </nav>

            <div class="col-md-12 burger_body">
                <!-- burger menu  -->
                <ul class="menu">
                    <li>
                        <a href="">
                            Торти
                        </a>
                    </li>
                    <li>
                        <a href="">
                            Чизкейки
                        </a>
                    </li>
                    <li>
                        <a href="">
                            Маршмелоу
                        </a>
                    </li>
                    <li>
                        <a href="">
                            Капкейки
                        </a>
                    </li>
                    <li>
                        <a href="">
                            Про нас
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>