<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Солоке життя</title>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>Document</title>
    <link rel="shortcut icon" href="img/logo.png" type="image/png">
</head>

<body>
    <header>
        <div class="container">
            <div class="row">
                <nav class="navbar">
                    <!-- logo -->
                    <div id="logo" class="col-3">
                        <div class="">
                            <img class="logo" src="img/logo.png" alt="logo">
                        </div>
                    </div>
                      <!-- Main menu -->
                    <div class="col-md-6">
                        <ul class="menu">
                            <li>
                                <a href="">
                                    Торти
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    Чизкейки
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    Маршмелоу
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    Капкейки
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    Про нас 
                                </a>
                            </li>
                        </ul>
                    </div>
                     <!-- busket button  -->
                    <div id="login_bacet" class="col-3">
                        <div class="bacet">
                            <img src="img/shopping-basket.png" alt="">
                            <div class="line"></div>
                            <a>2</a>
                        </div>
                    </div>
                     <!-- burger button  -->
                    <div id="burger_menu_col" class="col-3">
                        <div  class="burger_menu">
                            <span></span>
		                    <span></span>
		                    <span></span>
                        </div>
                    </div>
                    
                </nav>

                <div class="col-md-12 burger_body">
                     <!-- burger menu  -->
                    <ul class="menu">
                        <li>
                            <a href="">
                                Торти
                            </a>
                        </li>
                        <li>
                            <a href="">
                                Чизкейки
                            </a>
                        </li>
                        <li>
                            <a href="">
                                Маршмелоу
                            </a>
                        </li>
                        <li>
                            <a href="">
                                Капкейки
                            </a>
                        </li>
                        <li>
                            <a href="">
                                Про нас 
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>

        <section class="section">
            <!-- carousel start -->
            <div id="carusel_container" class="container">
                <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                      <div class="carousel-item active" data-bs-interval="2100">
                        <img src="img/baner1.png" class="d-block w-100" alt="...">
                      </div>
                      <div class="carousel-item" data-bs-interval="2100">
                        <img src="img/baner1.png" class="d-block w-100" alt="...">
                      </div>
                      <div class="carousel-item" data-bs-interval="2100">
                        <img src="img/baner1.png" class="d-block w-100" alt="...">
                      </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval"  data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Предыдущий</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval"  data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Следующий</span>
                    </button>
                </div>
                <!-- carousel end -->
            </div>
            
            <div class="container">
                <div id="cardAreaSmall" class="row">

                    <div class="col-md-12">
                        <h1>
                            Новинки та популярне
                        </h1>
                    </div>
                     <!-- card Small start -->
                    <div id="card1" class="col-md-3 col-sm-6">
                        <div class="cardS">
                            <div class="img">
                                <img src="img/1.png" alt="">
                            </div>

                            <div class="text">
                                <h3>
                                    Торт
                                </h3>
                                <a>
                                    от 300$
                                </a>
                            </div>
                        </div>
                    </div>
                     <!-- card Small end -->
                    <div id="card2" class="col-md-3 col-sm-6">
                        <div class="cardS">
                            <div class="img">
                                <img src="img/1.png" alt="">
                            </div>

                            <div class="text">
                                <h3>
                                    Торт
                                </h3>
                                <a>
                                    от 300$
                                </a>
                            </div>
                        </div>
                    </div>

                    <div id="card3" class="col-md-3 col-sm-6">
                        <div class="cardS">
                            <div class="img">
                                <img src="img/1.png" alt="">
                            </div>

                            <div class="text">
                                <h3>
                                    Торт
                                </h3>
                                <a>
                                    от 300$
                                </a>
                            </div>
                        </div>
                    </div>

                    <div id="card4" class="col-md-3 col-sm-6">
                        <div class="cardS">
                            <div class="img">
                                <img src="img/1.png" alt="">
                            </div>

                            <div class="text">
                                <h3>
                                    Торт
                                </h3>
                                <a>
                                    от 300$
                                </a>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>

            <div class="container">
                <div id="cardAreaBig" class="row">
                        <div class="col-md-12">
                            <h1>
                                Торти
                            </h1>
                            <p>
                                01
                            </p>
                        </div>
                        <!-- card big start -->
                        <div class="col-xl-3  col-md-4 col-sm-6">
                            <div class="card"> 
                                <div class="cardBig">
                                    <div class="front">
    
                                        <div class="img">
                                            <img src="img/1.png" alt="">
                                            <h3>
                                                Торти
                                            </h3>
                                        </div>
    
                                    </div>
    
                                    <div class="back">
                                        <h3>
                                            Склад
                                        </h3>
                                        <p>dsdfdscsdcsd<br>
                                            dfsdfdsfdad
                                        </p>
                                    </div>
                                </div>
    
                                <div class="areabuton">
                                    <div class="text">
                                        <h4>
                                            500$
                                        </h4>
            
                                        <button>+</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- card big end -->
                </div>
            </div>
                       
            <div class="container">
                <div id="cardAreaBig" class="row">
                        <div class="col-md-12">
                            <h1>
                                Безе
                            </h1>
                            <p>
                                02
                            </p>
                        </div>
                        
                </div>
            </div>
                        
    
            <div class="container">
                <div id="cardAreaBig" class="row">
                        <div class="col-md-12">
                            <h1>
                                Капкейк
                            </h1>
                            <p>
                                03
                            </p>
                        </div>
      
                </div>
            </div>

            <div class="container">
                <div id="cardAreaBig" class="row">
                        <div class="col-md-12">
                            <h1>
                                Чизкейк
                            </h1>
                            <p>
                                04
                            </p>
                        </div>

                       

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="txt">
                    <p>© 2021 Солодке життя</p>
                </div>

                <div class="link">
                    <a href="https://instagram.com/ksenia_tort?utm_medium=copy_link"><img src="img/instagram (1).png" alt=""></a>
                    <a href=""><img src="img/facebook (1).png" alt=""></a>
                </div>
            </div>
        </div>
    </div>
</footer>
    <script src="script.js"></script>
</body>

</html>