{% extends 'main/base.html' %}
{% load static %}

{% block title %}Солодке життя{% endblock %}

{% block content %}
    <header class="header">
        <div class="container">
            <div class="row">
                <nav class="navbar">
                    
                    <div class="col-md-3">
                        <img class="logo" src="{% static 'img/favicon.png' %}" alt="logo">
                    </div>
                    
                    <div class="col-md-6">
                        <ul class="menu">
                            <li>
                                <a href="#cake">
                                    Торти
                                </a>
                            </li>
                            <li>
                                <a href="#chesscake">
                                    Чизкейки
                                </a>
                            </li>
                            <li>
                                <a href="#marshmello">
                                    Маршмелоу
                                </a>
                            </li>
                            <li>
                                <a href="#capcake">
                                    Капкейки
                                </a>
                            </li>
                        </ul>
                    </div>
                    
                    <div id="login_bacet" class="col-md-3">
                        <a href="{% url 'cart:cart_detail' %}">
                            <div class="bacet">
                                    {% with total_items=cart|length %}
                                        {% if cart|length > 0 %}
                                            Корзина<div class="line"></div>
                                            {{ total_items }}
                                            {% else %}
                                            Корзина
                                        {% endif %}
                                    {% endwith %}
                            </div>
                        </a>
                    </div>
                    
                </nav>
            </div>
        </div>
    </header>
    
    {% if messages %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {% for message in messages %}
                {{ message }}
            {% endfor %}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endif %}

        <section class="section">
            <div class="container">
                <div class="row">
                    <div id="banner" class="col">
                        
                    </div>
                </div>
            </div>

            <div class="container">
                <div id="cardAreaSmall" class="row">

                    <div class="col-md-12">
                        <h1>
                            Новинки та популярне
                        </h1>
                    </div>
                    {% for popular in products_sort %}
                    <div id="card" class="col-md-3  col-sm-6">
                        <div class="cardS">
                            <div class="img">
                                <img src="{{ popular.image.url }}" alt="">
                            </div>

                            <div class="text">
                                <h3>
                                    {{ popular.title }}
                                </h3>
                                <a>
                                    от {{ popular.price }}$
                                </a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    

                   
                    
                </div>
            </div>

            <div class="container">
                <div id="cardAreaBig" class="row">
                        <div class="col-md-12">
                            <h1>
                                Торти
                            </h1>
                            <p id="cake">
                                01
                            </p>
                        </div>
                        {% for item in products %}
                            {% if item.category == "Cake" %}
                            <div class="col-md-3  col-sm-6">

                                <div class="cardBig">
                                    <div class="front">

                                        <div class="img">
                                            <img src="{{ item.image.url }}" alt="">
                                            <h3>
                                                {{ item.title }}
                                            </h3>
                                        </div>

                                    </div>

                                    <div class="back">
                                        <h3>
                                            Склад
                                        </h3>
                                        <p>
                                            {{ item.description }}
                                        </p>
                                    </div>
                                </div>

                                <div class="areabuton">
                                    <div class="text">
                                        <h4>
                                            {{ item.price }}$
                                        </h4>
                                        <form action="{% url 'cart:cart_add' item.id %}" method="post">
                                            {{ cart_product_form }}
                                            {% csrf_token %}
                                            <input id="button2" type="submit" value="+">    
                                        </form>                              
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                        {% endfor %}
                        

            <div class="container">
                <div id="cardAreaBig" class="row">
                        <div class="col-md-12">
                            <h1>
                                Безе
                            </h1>
                            <p id="chesscake">
                                02
                            </p>
                        </div>

                        {% for item in products %}
                            {% if item.category == "Marshmello" %}
                            <div class="col-md-3  col-sm-6">

                                <div class="cardBig">
                                    <div class="front">

                                        <div class="img">
                                            <img src="{{ item.image.url }}" alt="">
                                            <h3>
                                                {{ item.title }}
                                            </h3>
                                        </div>

                                    </div>

                                    <div class="back">
                                        <h3>
                                            Склад
                                        </h3>
                                        <p>
                                            {{ item.description }}
                                        </p>
                                    </div>
                                </div>

                                <div class="areabuton">
                                    <div class="text">
                                        <h4>
                                            {{ item.price }}$
                                        </h4>
            
                                        <input id="button2" type="button" value="+">
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                        {% endfor %}
                        
    
            <div class="container">
                <div id="cardAreaBig" class="row">
                        <div class="col-md-12">
                            <h1>
                                Капкейк
                            </h1>
                            <p id="marshmello">
                                03
                            </p>
                        </div>

                        {% for item in products %}
                            {% if item.category == "Capcake" %}
                            <div class="col-md-3  col-sm-6">

                                <div class="cardBig">
                                    <div class="front">

                                        <div class="img">
                                            <img src="{{ item.image.url }}" alt="">
                                            <h3>
                                                {{ item.title }}
                                            </h3>
                                        </div>

                                    </div>

                                    <div class="back">
                                        <h3>
                                            Склад
                                        </h3>
                                        <p>
                                            {{ item.description }}
                                        </p>
                                    </div>
                                </div>

                                <div class="areabuton">
                                    <div class="text">
                                        <h4>
                                            {{ item.price }}$
                                        </h4>
            
                                        <input id="button2" type="button" value="+">
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                        {% endfor %}

            <div class="container">
                <div id="cardAreaBig" class="row">
                        <div class="col-md-12">
                            <h1>
                                Чизкейк
                            </h1>
                            <p id="capcake">
                                04
                            </p>
                        </div>
                        
                        {% for item in products %}
                            {% if item.category == "Chesscake" %}
                            <div class="col-md-3  col-sm-6">

                                <div class="cardBig">
                                    <div class="front">

                                        <div class="img">
                                            <img src="{{ item.image.url }}" alt="">
                                            <h3>
                                                {{ item.title }}
                                            </h3>
                                        </div>

                                    </div>

                                    <div class="back">
                                        <h3>
                                            Склад
                                        </h3>
                                        <p>
                                            {{ item.description }}
                                        </p>
                                    </div>
                                </div>

                                <div class="areabuton">
                                    <div class="text">
                                        <h4>
                                            {{ item.price }}$
                                        </h4>
            
                                        <input id="button2" type="button" value="+">
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                        {% endfor %}

                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="txt">
                        <p>© 2021 Солодке життя</p>
                    </div>

                    <div class="link">
                        <a href="https://instagram.com/facebook" target="blank"><i class="bi bi-facebook"></i></a>
                        <a href="https://instagram.com/ksenia_tort?utm_medium=copy_link"><i class="bi bi-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}
