@import url('https://fonts.googleapis.com/css2?family=Actor&display=swap');

body {
    padding: null;
    margin: 0;
}

a {
    text-decoration: none;
}

h1 {
    text-decoration: none;
    font-size: 30px;
    font-family: 'Actor', sans-serif;
    color: rgb(32, 32, 32);
}

ul, li {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

input, textarea {
    outline: none;
}

.header {

    a {
        font-size: 14px;
        font-family: 'Actor', sans-serif;
        color: rgb(32, 32, 32);
    }

    .navbar {
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: #FFFFFF;

        .logo {
            margin: 0;
            height: 70px;
        }

        .menu {
            display: flex;
            align-items: center;

            li {
                margin-right: 30px;

                a:hover {
                    color: rgba(255, 105, 0, 1);
                }
            }
        }

        input {
            height: 35px;
            width: 116px;
            background-color: rgb(255, 105, 0);;
            border-radius: 25px;
            border: none;
            text-align: center;
            font-size: 14px;
            font-family: 'Actor', sans-serif;
            color: #FFFFFF; 
        }
    }
}



#button1 {
    height: 35px;
    width: 116px;
    background-color: #FFF0E6;
    border-radius: 25px;
    border: none;
    text-align: center;
    font-size: 14px;
    font-family: 'Actor', sans-serif;
    color: #FF6900;
}

#banner {
    background-color: rgba(196, 196, 196, 1);
    height: 380px;
}

#cardAreaSmall {
    justify-content: space-between;

    .col-md-12 {
        padding: 0;

        h1 {
            padding: 30px 0 30px 0;
        }
    }

    .col-md-3 {
        display: flex;
        height: 104px;
        width: 238px;
        background: #FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;

        img {
            width: 76px;
        }

        h3 {
            font-size: 14px;
            font-family: 'Actor', sans-serif;
            color: rgb(32, 32, 32);
        }

        .text {
            padding: 34px 59px 30px 10px;
        }
    }
}

#cardAreaBig {
    justify-content: space-between;
    margin: 60px 0 0 0;

    .col-md-12 {
        padding: 0;

        h1 {
            padding: 30px 0 30px 0;
        }
    }

    .col-md-3 {
        width: 238px;
        display: block;
        text-align: center;
        justify-content: center;
        padding: 0;

        .img {


            img {
                width: 215px;
            }

            h3 {
                text-align: left;
            }

            p {
                text-align: left;
            }
        }

        .text {
            display: flex;
            justify-content: space-between;
            
        
        }

    }
}
