@import url("https://fonts.googleapis.com/css2?family=Actor&display=swap");
body {
  padding: null;
  margin: 0;
}

a {
  text-decoration: none;
}

h1 {
  text-decoration: none;
  font-size: 30px;
  font-family: 'Actor', sans-serif;
  color: #202020;
}

ul, li {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

input, textarea {
  outline: none;
}

.header a {
  font-size: 14px;
  font-family: 'Actor', sans-serif;
  color: #202020;
}

.header .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #FFFFFF;
}

.header .navbar .logo {
  margin: 0;
  height: 70px;
}

.header .navbar .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .navbar .menu li {
  margin-right: 30px;
}

.header .navbar .menu li a:hover {
  color: #ff6900;
}

.header .navbar input {
  height: 35px;
  width: 116px;
  background-color: #ff6900;
  border-radius: 25px;
  border: none;
  text-align: center;
  font-size: 14px;
  font-family: 'Actor', sans-serif;
  color: #FFFFFF;
}

#button1 {
  height: 35px;
  width: 116px;
  background-color: #FFF0E6;
  border-radius: 25px;
  border: none;
  text-align: center;
  font-size: 14px;
  font-family: 'Actor', sans-serif;
  color: #FF6900;
}

#banner {
  background-color: #c4c4c4;
  height: 380px;
}

#cardAreaSmall {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#cardAreaSmall .col-md-12 {
  padding: 0;
}

#cardAreaSmall .col-md-12 h1 {
  padding: 30px 0 30px 0;
}

#cardAreaSmall .col-md-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 104px;
  width: 238px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

#cardAreaSmall .col-md-3 img {
  width: 76px;
}

#cardAreaSmall .col-md-3 h3 {
  font-size: 14px;
  font-family: 'Actor', sans-serif;
  color: #202020;
}

#cardAreaSmall .col-md-3 .text {
  padding: 34px 59px 30px 10px;
}

#cardAreaBig {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 60px 0 0 0;
}

#cardAreaBig .col-md-12 {
  padding: 0;
}

#cardAreaBig .col-md-12 h1 {
  padding: 30px 0 30px 0;
}

#cardAreaBig .col-md-3 {
  width: 238px;
  display: block;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
}

#cardAreaBig .col-md-3 .img img {
  width: 215px;
}

#cardAreaBig .col-md-3 .img h3 {
  text-align: left;
}

#cardAreaBig .col-md-3 .img p {
  text-align: left;
}

#cardAreaBig .col-md-3 .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
/*# sourceMappingURL=index.css.map */